<div class="small-9 small-centered columns">
  <h6><%= @list.title %></h6>

  <p>You only have <%= pluralize(@list.reasons.count, 'reason') %>? Add some more!</p>

  <% if @list.reasons.count >= @minimum_num_reasons %>
    <%= link_to 'Share with the world!', list_path(@list) %><br><br>
  <% end %>

  <%= form_for [@list, @reason] do |f| %>
    <%= f.label :reason %>
    <%= f.text_field :body, id: 'reason_body', autofocus: true %>
    <%= f.submit %>
  <% end %>

  <br>

  <% if @reasons.present? %>
    <table>
      <thead>
        <tr>
          <th>Reasons</th>
        </tr>
      </thead>

      <tbody>
        <% @list.reasons.each do |reason| %>
          <tr>
            <td><%= reason.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
