<div class="small-6 small-centered columns">
  <%= form_for @list do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: 'title', placeholder: 'bellicheck rules' %><br>
    </div>
    <div class="field">
      <%= f.label :subject_a, as: 'Subject A' %>
      <%= f.text_field :subject_a, id: 'subject_a', placeholder: 'Bill Bellicheck' %><br>
    </div>
    <div class="field">
      <%= f.label :adjective %>
      <%= f.text_field :adjective, id: 'adjective', placeholder: 'is better than' %><br>
    </div>
    <div class="field">
      <%= f.label :subject_b %>
      <%= f.text_field :subject_b, id: 'subject_b', placeholder: 'every other NFL coach' %><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>
