<div class="small-6 small-centered columns">
  <%= form_for @list do |f| %>

    <% if @list.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(@list.errors.count, 'error') %> prohibited this list from being saved:</h2>

        <ul>
          <% @list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: 'title' %><br>
    </div>
    <div class="field">
      <%= f.label :subject_a, as: 'Subject A' %>
      <%= f.text_field :subject_a, id: 'subject_a' %><br>
    </div>
    <div class="field">
      <%= f.label :adjective %>
      <%= f.text_field :adjective, id: 'adjective' %><br>
    </div>
    <div class="field">
      <%= f.label :subject_b %>
      <%= f.text_field :subject_b, id: 'subject_b' %><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>
