<p class="subject_header"><%= @list.subject_a %> </p>
<p id="adjective_header"><%= @list.adjective %> </p>
<p class="subject_header"><%= @list.subject_b %> </p>
<p id="because">because</p>

<br>

<div class="reason">
</div>
<button type="button" id="button">Give Me Another Reason!</button>

<%= javascript_tag do %>
  reasons = "<%= @reasons %>";
  reasonsArray = JSON.parse(reasons.replace(/&quot;/g,'"'));
<% end %>


<%= content_for :extra_footer do %>
  <script type="text/javascript">

  $(function() {
    $reason = $('.reason');
    var first_reason = reasonsArray[Math.floor(Math.random() * reasonsArray.length)];
    $reason.append('<p>' + first_reason + '</p>')

    $('#button').click(function () {
      $reason.empty();
      var current_reason = reasonsArray[Math.floor(Math.random() * reasonsArray.length)];
      $reason.append('<p>' + current_reason + '</p>');
    });
  });

  </script>
<% end %>
