<div class="row">
  <div class="small-12 centered columns center_text">
    <p class="subject_header"><%= @list.subject_a %> </p>
    <p id="adjective_header"><%= @list.adjective %> </p>
    <p class="subject_header"><%= @list.subject_b %> </p>
    <p id="because">because</p>
  </div>
</div>

<br>

<div class="row">
  <div class="small-12 centered columns center_text">
    <div class="reason">
    </div>
    <button type="button" id="reason_button">Give Me Another Reason!</button>
  </div>
</div>

<%= javascript_tag do %>
  reasons = "<%= @reasons %>";
  reasonsArray = JSON.parse(reasons.replace(/&quot;/g,'"'));
<% end %>
